.ipynb_checkpoints
build
build/*
_build
_build/*
.bzr
.coverage
.coverage/*
develop-eggs
dist
dist/*
downloads
*.egg
*.EGG
eggs
fake-eggs
.hg
htmlcov
.installed.cfg
*.mo
.mr.developer.cfg
parts
*.pyc
__pycache__
__pycache__/*
*.pyo
.svn
*.tmp*
.tox
.tox/*
stats.dat
.ropeproject
