# Editors & IDEs
.vscode
.vs
.idea

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build
build/*
_build
_build/*
.bzr
develop-eggs
dist
dist/*
downloads
*.egg
*.EGG
*.egg-info
eggs
fake-eggs
.installed.cfg
.mr.developer.cfg
parts

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__
__pycache__/*
*.pyo
.svn

# Unit test / coverage reports
htmlcov
.tox
.tox/*
.coverage
.coverage/*
*.ech
*.log
*.hbnhead
*.units.dbf

# Translations
*.mo

# Stashes, etc.
stats.dat
.ropeproject
.hg
*.tmp*
tests/_LargeFileStash

# Temporary files
_TutorialData/


# Specific files
run.py
tests/GLWACSO/HSP2results/hspp007.hdf
tests/GLWACSO/HSPFresults/hspf006.HBN
tests/GLWACSO/HSP2results/hspp007.uci
tests/test_report_conversion.html

# Omit big files
tests/land_spec/hwmA51800.h5
tests/testcbp/HSP2results/PL3_5250_0001.h5
tests/testcbp/HSP2results/*.csv
tests/test10/HSP2results/test10.h5

# R files
.Rdata
.Rhistory
