# Editors & IDEs
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build
build/*
_build
_build/*
.bzr
develop-eggs
dist
dist/*
downloads
*.egg
*.EGG
*.egg-info
eggs
fake-eggs
.installed.cfg
.mr.developer.cfg
parts

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__
__pycache__/*
*.pyo
.svn

# Unit test / coverage reports
htmlcov
.tox
.tox/*

stats.dat
.ropeproject
.idea
*.ech
*.log
*.hbnhead
*.units.dbf
